<h1>All Animals</h1>

<table>
  <tr>
    <th>Animal id</th>
    <th>Name</th>
    <th>Animal Type</th>
    <th>Breed</th>
    <th>Age</th>
    <th>Admission Date</th>
    <th>Availabilty</th>
    <th></th>
  </tr>

<% for animal in @animals%>
  <tr>
    <td><%= animal.id %></td>
    <td><%= animal.name %></td>
    <td><%= animal.animal_type %></td>
    <td><%= animal.breed %></td>
    <td><%= animal.age %></td>
    <td><%= animal.admission_date %></td>
    <td><%= animal.adoption_status %></td>
    <td><a href="/animals/<%= animal.id %>">Show Animal</a></td>
  </tr>
<% end %>

</table>
