<h1 class="main">All Animals</h1>
<form class="main" action="/animals/new" method="get">
  <input class="submit-button" type="submit" value="Admit a new animal">
</form>
<form class="main" action="/available-animals" method="get">
  <input class="submit-button" type="submit" value="View Available Animals">
</form>
<form class="main" action="/unavailable-unadopted" method="get">
  <input class="submit-button" type="submit" value="View Animals In Training/Vet Care">
</form>
<br>
<table>
  <tr>
    <th>Animal id</th>
    <th>Name</th>
    <th>Animal Type</th>
    <th>Breed</th>
    <th>Age</th>
    <th>Admission Date</th>
    <th>Availabilty</th>
    <th>Adopted by</th>
    <th></th>
  </tr>

<% for animal in @animals%>
  <tr>
    <td><%= animal.id %></td>
    <td><%= animal.name %></td>
    <td><%= animal.animal_type %></td>
    <td><%= animal.breed %></td>
    <td><%= animal.age %></td>
    <td><%= animal.admission_date %></td>
    <td><%= animal.adoption_status %></td>
    <td>
      <% for owner in animal.owners %>
      <%= owner.full_name %>
      <% end %>
    </td>
    <td><a href="/animals/<%= animal.id %>">Show Animal</a></td>
  </tr>
<% end %>

</table>
