
<p><strong>Animal id:</strong><%= @animal.id %></p>
<p><strong>Name:</strong><%= @animal.name %></p>
<p><strong>Animal Type:</strong><%= @animal.animal_type %></p>
<p><strong>Breed:</strong><%= @animal.breed %></p>
<p><strong>Age:</strong><%= @animal.age %></p>
<p><strong>Admission Date:</strong><%= @animal.admission_date %></p>
<p><strong>Availabilty:</strong><%= @animal.adoption_status %></p>
<p><strong>Adopted by:</strong>
  <% for owner in  @animal.owners %>
  <%= owner.full_name %>
  <% end %>
</p>

<form action="/animals/<%= @animal.id %>/edit" method="get">
  <input type="submit" value="Edit Animal">
</form>

<form action="/animals/<%= @animal.id %>/delete" method="post">
  <input type="submit" value="Delete Animal">
</form>
