<h1 class="main">Animal summary:</h1>
<br>

<div class="grid">
  <img src="<%= @animal.animal_url %>" height="415" alt="animal picture"/>
  <div class="grid-information">
    <p>
      <strong>Animal id:</strong>
    </p>
    <p><%= @animal.id %></p>
    <p>
      <strong>Name:</strong>
    </p>
    <p><%= @animal.name %></p>
    <p>
      <strong>Animal Type:</strong>
    </p>
    <p><%= @animal.animal_type %></p>
    <p>
      <strong>Breed:</strong>
    </p>
    <p><%= @animal.breed %></p>
    <p>
      <strong>Age:</strong>
    </p>
    <p><%= @animal.age %></p>
    <p>
      <strong>Admission Date:</strong>
    </p>
    <p><%= @animal.admission_date %></p>
    <p>
      <strong>Availabilty:</strong>
    </p>
    <p><%= @animal.adoption_status %></p>
    <p>
      <strong>Adopted by:</strong>
    </p>
    <p>
      <% for owner in  @animal.owners %>
        <%= owner.full_name %>
      <% end %>
    </p>
    <p><strong>Date Adopted:</strong></p>
    <p>
      <% for adoption in  @animal.animal_adoption_date %>
        <%= adoption.adoption_date %>
      <% end %>
      </p>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="button-grid">
  <form action="/animals/<%= @animal.id %>/edit" method="get">
    <input class="submit-button" type="submit" value="Edit Animal">
  </form>

  <form action="/animals/<%= @animal.id %>/delete" method="post">
    <input class="submit-button" type="submit" value="Delete Animal">
  </form>

  <form action="/animals" method="get">
    <input class="submit-button" type="submit" value="Back to all Animals">
  </form>
</div>
