<p><strong>Name:</strong><%= @owner.full_name %></p>
<p><strong>Address:</strong><%= @owner.address %></p>
<p><strong>Animals Adopted:</strong>
  <ul>
    <% for animal in  @owner.animals %>
    <li>
    <%= animal.name %>
    </li>
    <% end %>
  </ul>
</p>

<form action="/owners/<%= @owner.id %>/edit" method="get">
  <input type="submit" value="Edit Owner">
</form>

<form action="/owners/<%= @owner.id %>/delete" method="post">
  <input type="submit" value="Delete Owner">
</form>

<form action="/owners" method="get">
  <input type="submit" value="Back to all Owners">
</form>
