<div class="grid-owner">
<p><strong>Name:</strong></p>
<p><%= @owner.full_name %></p>
<p><strong>Address:</strong></p>
<p><%= @owner.address %></p>
<p><strong>Animals Adopted:</strong></p>

  <ul>
    <% for animal in  @owner.animals %>
    <li>
    <%= animal.name %>
    </li>
    <% end %>
  </ul>

</div>

<div class="button-grid-adoption">
<form action="/owners/<%= @owner.id %>/edit" method="get">
  <input type="submit" value="Edit Owner">
</form>

<form action="/owners/<%= @owner.id %>/delete" method="post">
  <input type="submit" value="Delete Owner">
</form>

<form action="/owners" method="get">
  <input type="submit" value="Back to all Owners">
</form>
</div>
